<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Duo_Log_Analyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Duo_Log_Analyzer.Properties.Settings>
            <setting name="LastLogFetch" serializeAs="String">
                <value />
            </setting>
            <setting name="SNSAccessKeyID" serializeAs="String">
                <value />
            </setting>
            <setting name="SNSTopicARN" serializeAs="String">
                <value />
            </setting>
            <setting name="SNSSecretAccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreIPList" serializeAs="String">
                <value>0.0.0.0|</value>
            </setting>
            <setting name="DUOIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DuoSKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DuoHost" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="IPWhoisioAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SuspiciousLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInBypassMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutsideUS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnenrolledUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnenrolledUserRegExEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnenrolledUserRegExExpression" serializeAs="String">
                <value />
            </setting>
        </Duo_Log_Analyzer.Properties.Settings>
    </userSettings>
</configuration>
